<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"
    <title>Eight by X</title>
</head>
<body>
    {% for x in range(0, num): %}
    <table>
        <tr>
            <td class="{{ loop.cycle('dark', 'light') }}"></td>
            <td class="{{ loop.cycle('light', 'dark') }}"></td>
            <td class="{{ loop.cycle('dark', 'light') }}"></td>
            <td class="{{ loop.cycle('light', 'dark') }}"></td>
            <td class="{{ loop.cycle('dark', 'light') }}"></td>
            <td class="{{ loop.cycle('light', 'dark') }}"></td>
            <td class="{{ loop.cycle('dark', 'light') }}"></td>
            <td class="{{ loop.cycle('light', 'dark') }}"></td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>